@keyframes card-animation {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (width < 570px) {
    .ccard {
        display: block !important;
    }
}

@media screen and (500px < width < 570px) {
    .ccard {
        margin-left: 34px !important;
    }
}

@media screen and (410px < width < 570px) {
    .ccard {
        max-width: 100% !important;
    }
    .ccard__title {
        max-width: 100% !important;
        justify-content: space-between !important;
    }
}

.ccard {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: fit-content;
    padding: 15px;
    margin: 10px;
    display: none;
    animation: card-animation 0.8s 0.3s backwards;
}

.ccard__title {
    max-width: fit-content;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    margin-bottom: 20px;
}

.amount__title {
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.9rem;
}

.amount__value {
    font-size: 1.3rem;
}

.agreement-no {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.agency-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.contract-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.stage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.title {
    color: rgba(0, 0, 0, 0.8);
}

.rp-chip-c {
    background-color: #FCE8B5;
    border-radius: 14px;
    color: #BB925A;
    padding: 6px;
    font-weight: 600;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    margin-left: 50px;
}

.p-chip-c {
    background-color: #efb2b2;
    border-radius: 14px;
    color: #be4f4f;
    padding: 6px;
    font-weight: 600;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    margin-left: 90px;
}

.r-chip-c {
    background-color: #adc8f5;
    border-radius: 14px;
    color: #265cc6;
    padding: 6px;
    font-weight: 600;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    margin-left: 90px;
}

.a-chip-c {
    background-color: #c4f4d1;
    border-radius: 14px;
    color: green;
    padding: 6px;
    font-weight: 600;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    margin-left: 90px;
}